{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/clock.js') }}"></script>
    <p>Bienvenue sur l'outil <b>Météo</b></p>
    <p><span id="clock"></span></p>
    <span id="client_count"></span>
    <p>Localisation: <b>Pélussin</b></p>
    <div class="chart-container">
          <canvas id="myChartTemperature" width="500" height="300"></canvas>
    
          <canvas id="myChartPressure" width="500" height="300"></canvas>

          <canvas id="myChartHumidity" width="500" height="300"></canvas>

          <canvas id="myChartWindSpeed" width="500" height="300"></canvas>

          <canvas id="myChartInternalTemperature" width="500" height="300"></canvas>
    </div>

{% endblock %}
